<div class="announce_stuff">
  <div id="announces">
    <ul class="nav nav-list bs-docs-sidenav ">
      <div id="announcelist" class="nav nav-list bs-docs-sidenav ">
        <% if @announces10 %>
          <% @announces10.each do |a| %>
            <li>
              <i class="icon-chevron-right"></i><%= link_to a.title, {controller: "progresses", action: "announce",id: a} %>
            </li>
        <% end %>
      <%end%>
    </div>
  </ul>
</div>
</div>


