<h2 class="mainheader">กิจกรรมล่าสุด
  <div class="pull-right">
    <% t = ->(date){"#{date.year+543}"} %>
    <% y = t.call(Date.today) %>
    <small style="color: #FFFFFF;"> <%=t I18n.l(Date.today, :format => :long) %>   </small>
  </div>
</h2>
<%= render :partial => 'shared/mainfeature' %>
<h2 class="menuheader">กิจกรรมประชาสัมพันธ์</h2>
<%= render :partial => 'shared/viewactivity' %>

