<h2 class="mainheader">กิจกรรมล่าสุด
  <div class="pull-right">
    <small style="color: #FFFFFF;"> <%= I18n.l(Date.today, :format => :long) %> </small>
  </div>
</h2>
<%= render :partial => 'shared/mainfeature' %>
<h2 class="menuheader">กิจกรรมประชาสัมพันธ์</h2>
<%= render :partial => 'shared/viewactivity' %>

