<!--
<div style="clear:both;margin-top:10px;"></div>
<div style="clear:both;margin-top:10px;"></div>
-->
<h2 class="menuheader-green">ประกาศผลกระทบด้านการจราจร </h2>
<%= render :partial => 'shared/announce_stuff' %>

