
<% unless announce.title.empty? %>
    <a href="/progresses/announce/<%= announce.id %>">
      <i class="icon-chevron-right"><%= announce.title %>
    </a>
<% else %>
  <span> ไม่พบรายการที่ค้นหา </span>
<% end %>
