<div class="announce">
  <% if announce %>
    <a href="/progresses/announce/<%= announce.id %>">
       <%= announce.title %>
    </a>
  <% else %>
    <p> ไม่พบรายการที่ค้นหา </p>
  <% end %>
</div>
