<h1>Monitoring</h1>
<ul class="nav nav-tabs">
  <li title="" rel="" class="icon dashboard_root_link active">
    <a class="pjax" href="/admin/">
      <i class="icon-home"></i>
      <span>Dashboard</span>
    </a>
  </li>
</ul>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Model Name</th>
      <th>Last Update</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Pages</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Users</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Activitys</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Reports</td>
      <td></td>
      <td></td>
    </tr>

  </tbody>

</table>
<ul class="nav nav-tabs">
  <li title="" rel="" class="icon dashboard_root_link active">
    <a class="pjax" href="/admin/">
      <i class="icon-home"></i>
      <span>History</span>
    </a>
  </li>
</ul>

