<div class="content-box">
  <div class="box-header">
    <span> <%= @activity.title %> </span>
  </div>

  <div class="box-body">
    <div class="content-format">
      <%=raw @activity.content %>
    </div>

    <div class="box-info">
         <%=t I18n.l(@activity.created_at, :format => :long) %>
    </div>
    <div class="clear"></div>
  </div>
</div>
