<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>MRA Blue Line Website</title>

	<link rel="stylesheet" href="/css/fullpage.css">

	<!--[if lt IE 9]>
	<style>
	#container	{
		background: #fff;
	}
	</style>
	<![endif]-->

	<!--[if lte IE 6]>
	<style>
	#bg	{
		position: absolute;
		top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop+(document.body.clientHeight-this.clientHeight));
	}

	#img img	{
		display: inline;
		width: 75%;
		height: 75%;
	}
	</style>
	<![endif]-->
</head>

<body>
	<div id="bg">
		<div id="img">
			<img src="/images/bg-full.jpg" alt="MRTA">
		</div>
	</div>

	<div id="content">
		<div id="container-x">
		    <img src="/images/undertest.png" alt="undertest">
		</div>
	</div>
</body>
</html>
